@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

*::before, *::after{
  box-sizing: border-box;
}


.App {

}


/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 14px; 
  font-size: 13px;
  width: 68%;
  position: fixed;
  left: 16%;
  top: 0%;
  z-index: 2;
  background: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1); */
}

.navbar > span  {
  color: black;
}

  
/* ---------------------------HERO--------------------- */

.hero{
  overflow: hidden;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.hero_header > p {
  text-align: center;
  color: #cc8b08;
}

.hero_section > h1 {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  top: 6rem;
  color: rgb(135, 135, 135);
  margin-bottom: 11rem;
  width: 50rem;
  left: 8.5%;
}

.hero_section > h1 > span {
  color: black;
  font-weight: 600;
}

.hero_slider {
  /* overflow: auto; */
  /* display: flex;
  flex-wrap: row nowrap;
  justify-content: space-evenly; */
  cursor: pointer;

}


.slider_item > img {
  max-height: 5rem;

}

.slider_item {
  text-align: center;
  font-weight:600;
  font-size: 14px;
  position: relative;
  left: 6rem;
}




/* ------------------SPECIAL------------------ */

.special {
  overflow: hidden;
  padding-bottom: 2rem;
}

.special_header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}

.special_slider {
  cursor: pointer;
}

.special_item {
   height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2rem;
  width: 25rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.special_item {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2rem;
  width: 25rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  margin-top: 1rem;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.special_item:hover {
  transform: scale(1.02);
}

.one{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-festive-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761585206");
  background-repeat: no-repeat;
}
.two{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-iphone-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587681");
  background-repeat: no-repeat;
}
.three{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-mac-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589457");
  background-repeat: no-repeat;
}
.four{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-ipad-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587575");
  background-repeat: no-repeat;
}
.five{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-watch-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589863");
  background-repeat: no-repeat;
}

.six{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-todayatapple-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589579");
  background-repeat: no-repeat;
}

.special_item > h5 {
  color: rgb(255, 190, 111);
  font-weight: 400;
  position: relative;
  top: -1rem;
  
}
.special_item > p {
  color: rgb(255, 243, 177);
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  top: -2rem;
  line-height: 1.2;

} 


/* -------------LATEST------------------ */

.latest{
  overflow: hidden;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.latest > header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}



.latest_item {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 25rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.latest_item:hover{
  transform: scale(1.02);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  background-size: 107%;
  background-position-y: -20px ;
}

.latest_item > h5 {
  font-weight: 400;
}

.latest_item > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -1rem;
} 

.latest_item > p {
  font-size: 17px;
  position: relative;
  top: -2rem;
  font-weight: 100;
}


.l_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692719973220");
  color: black;
}

.l_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-pro-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692910040844");
  color: white;
}

.l_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watch-s9-202309_GEO_IN?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693501324197");
  color: white;
}
.l_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watch-ultra-202309_GEO_IN?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693861933617");
}
.l_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watchbands-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692720583186");
}
.l_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-pencil-202310_GEO_IN?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1696886305326");
}


/* ---------------VISION------------------- */

.vision_slider{
}

.vision_item {
  height: 15rem;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 20rem;
  margin-left: 8rem;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: transform 500ms;
  cursor: pointer;

}

.vision_item:hover{
  transform: scale(1.02);
}

.vision_item > h1 {
  position: relative;
  top: 3rem;
  width: 16rem;
  color: rgb(255, 243, 177);
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}

.vision_item > span {
  position: absolute;
  margin-top: 1rem;
}

.v_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-iphone-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281487419");
  color: white;
}

.v_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-mac-customize-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281489269");
  color: white;
}

.v_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-engraving-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281487397");
  color: white;
}
.v_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-waystopay-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281489395");
}
.v_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-delivery-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281487254");
}
.v_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-tradein-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281489379");
}

/* ---------------ACCESSORIES---------------- */

.acce{
  overflow: hidden;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;

}

.acce > header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}

.a_one{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-giftacc-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587624");
}

.acce_head{
  position: relative;
  z-index: 1;
  float: left;
  height: 31rem;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 2rem;
  width: 25rem;
  background-repeat: no-repeat;
  margin-left: 8rem;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: transform 500ms;
  cursor: pointer;
  z-index: 1;
}

.acce_head > h5 {
  color: rgb(255, 190, 111);
  font-weight: 400;
  position: relative;
  top: -1rem;
  
}
.acce_head > p {
  color: rgb(255, 243, 177);
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  top: -2rem;
  line-height: 1.2;

} 

.acce_item {
  float: right;
  height: 31rem;
  border-radius: 20px;
  padding-top: 1rem;
  width: 20rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-position-y:5rem;
  background-color: white;
}

:is(.acce_item, .acce_head){
  transition: all 500ms;
}


:is(.acce_item, .acce_head):hover{
  transform: scale(1.01);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

:is(.acce_item):hover{
  background-position-y: 4rem ;
}



.acce_item > p {
  font-size: 14px;
}

.acce_item > h3 {
  font-size: 17px;
  padding-bottom: 1rem;
}

.acce_item > h5 {
  color: #ca6404;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: -10px;
}

.a_four > h3 {
  padding-bottom: 37px;
}

.acce_item :is(h5, h3, p) {
  position: relative;
  top: 20rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.a_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT4J3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1693594197616");

}

.a_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT253?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1692994342983");

}


.a_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/airtag-single-select-202104?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1617761671000");

}

.a_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-tv-4k-hero-select-202210?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1664896361408");

}

.a_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT3G3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1693593632903");

}

.a_seven {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MUH73ref?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1692936516435");

}


.dot{
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
  margin: auto;
  position: relative;
  top: 9rem;
}

.dot > span{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
  display: inline-block;
  opacity: 1;
}

.dot_w{
  display: flex;
  justify-content: space-evenly;
  width: 4rem;
  margin: auto;
  position: relative;
  top: 9rem;
}

.dot_w > span{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
  display: inline-block;
  opacity: 1;
}


/* -----------AUDIO--------------- */


.audio{
  overflow: hidden;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.audio > header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}

.audio_head{
  position: relative;
  z-index: 1;
  float: left;
  height: 31rem;
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 2rem;
  width: 25rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-music-202310?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1697210875904") ;
  background-repeat: no-repeat;
  margin-left: 8rem;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: transform 500ms;
  cursor: pointer;
  z-index: 1;
}

.audio_head > h5 {
  color: rgb(255, 190, 111);
  font-weight: 400;
  position: relative;
  top: -1rem;
  
}
.audio_head > p {
  color: rgb(255, 243, 177);
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  position: relative;
  top: -2rem;
  line-height: 1.2;

} 

.audio_item {
  background-color: white;
  float: right;
  height: 31rem;
  border-radius: 20px;
  padding-top: 1rem;
  width: 20rem;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  background-position-y:5rem;
}

:is(.audio_item, .audio_head){
  transition: all 500ms;
}


:is(.audio_item, .audio_head):hover{
  transform: scale(1.02);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

:is(.audio_item):hover{
  background-position-y: 4rem ;
}


.audio_item > p {
  font-size: 14px;
}

.audio_item > h3 {
  font-size: 17px;
  padding-bottom: 1rem;
}

.audio_item > h5 {
  color: #ca6404;
  font-weight: 200;
  font-size: 12px;
  margin-bottom: -10px;
}

.audio_item :is(h5, h3, p) {
  position: relative;
  top: 20rem;
  padding-left: 2rem;
  padding-right: 2rem;
}


.u_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1694014871985");
}

.u_three{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/homepod-select-midnight-202210?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1670557210097");
}
.u_four{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/homepod-mini-select-orange-202110?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1632925511000");
}

.u_five{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/airpods-max-select-skyblue-202011?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1604022365000");
}

.u_six{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MV7N2?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1551489688005");
}

.u_seven{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1694014871985");
}

.u_seven > h3 {
  padding-bottom: 37px;

}

.exPad :is(h5, h3, p) {
  position: relative;
  top: 22rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.exPad > h3 {
  padding-bottom: 2rem;
}


.dot_au{
  display: flex;
  justify-content: space-evenly;
  width: 3rem;
  margin: auto;
  position: relative;
  top: 11rem;
}

.dot_hd{
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
  margin: auto;
  position: relative;
  top: 11rem;
}

.dot_au > span{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
  display: inline-block;
  opacity: 1;
}



.dot_n{
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
  margin: auto;
  position: relative;
  top: 11rem;
}


.dot_n > span{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
  display: inline-block;
  opacity: 1;
}



.dot_hd > img {
  height: 12px;
  width: 12px;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
}

/* ------------HELP ------------------ */

.help{
  overflow: hidden;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.help > header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}



.help_one {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 30rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-diwali-specialist-help-202310?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1696608687398");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.help_two {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 25rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-business-202209_GEO_IN?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1661285670376");
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}


.help_three {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 30rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: 3rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-50-personal-session-202109?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1630612234000");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.help_four {
  margin-left: 3rem;
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  width: 30rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: all 500ms;
  cursor: pointer;
}

.rowOne{
  padding-top: 1rem;
  padding-left: 2rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-support-app-202308_GEO_IN?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1691156993472");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-position-y: -1rem ;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

}

.rowTwo{
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rowTwo > p{
  font-size: 17px;
}

.col-10{
  width: 85%;
}
.col-2{
  padding: 1rem;
  width: 10%;
}

.button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
}

.play{
cursor: pointer;
  width: 0px;
  height: 0px;
  margin: 25%;
  border-style: solid;
  background: none;
  border-width: 7px 0px 7px 14px;
  border-color: transparent transparent transparent rgb(92, 92, 92);

}


:is(.help_one, .help_two, .help_three, .help_four, .help_five):hover{
  transform: scale(1.02);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.help_one > h5 {
  color: #2E97A7;
  font-weight: 400;
}

.help_one > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -1rem;
  color: rgb(255, 243, 177);
} 

.help_two > h5 {
  color: #7C81AD;
  font-weight: 400;
}

.help_two > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -1rem;
  color: #F6F4EB;
} 

.rowOne > h5 {
  color: #526D82;
  font-weight: 400;
}


/* ------------EXPERIENCE---------------------- */

.experience{
  overflow: hidden;
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.experience > header {
  font-size: 28px;
  font-weight: 600;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;
}



.experience_item {
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding-left: 2rem;
  padding-top: 1rem;
  width: 30rem;
  margin-left: 8rem;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 500ms;
  cursor: pointer;
}

.e_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-tv-services-lessons-in-chemistry-202310?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1696949431686");

}

.e_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-subscriptions-202108?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1626375547000");


}


.e_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-applecare-202309?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1692730497948");

 
}

.e_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-homekit-202309_GEO_IN?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1693758287672");
}


.experience_item:hover{
  transform: scale(1.02);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
}

.experience_item > h1 {
  padding-right: 4rem;
}

.e_one > h5 {
  color: #F6F4EB;
  font-weight: 400;
}

:is(.e_four, .e_three) > h5 {
  color: #526D82;
  font-weight: lighter;
}

.e_four > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.e_three > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -5px;
}

.e_three > p{
  position: relative;
  top: -1rem;
  padding-right: 6rem;
}

.e_one > h1 {
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  color: #F6F4EB;
  top: -5px;
} 

.e_two > h1{
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: 2rem;
}



