.App {
  text-align: center;

}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 14px; 
  font-size: 13px;
  width: 80%;
  position: absolute;
  left: 8.5%;
  top: 0%;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 8px rgb(221, 221, 221);
  
}

.navbar > span  {
  color: black;
}

  
/* ---------------------------HERO--------------------- */

.hero {
  overflow: hidden;

}

.hero_header > p {
  width: 100%;
  text-align: center;
  color: #cc8b08;
}

.hero_section > h1 {
  font-size: 3rem;
  font-weight: 100;
  position: relative;
  top: 6rem;
  color: rgb(135, 135, 135);
  margin-bottom: 11rem;
  width: 50rem;
  left: 8.5%;
}

.hero_section > h1 > span {
  color: black;
  font-weight: 600;
}

.hero_slider {
}

.slider_item > img {
  max-height: 6rem;
}

.slider_item {
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  padding: 1rem;
  width: 25rem;
}




/* ------------------SPECIAL------------------ */

.special {
  position: relative;
  overflow: hidden;

}

.special_header {
  font-size: 2rem;
  font-weight: 00;
  color: rgb(135, 135, 135);
  position: relative;
  left: 8.5%;

}

.special_slider {
  position: relative;
  left: 8.5%;
}

.special_item {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-festive-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761585206");
  background-repeat: no-repeat;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  height: 31rem;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 2rem;
  max-width: 25rem;

}

.special_item > h5 {
  color: rgb(255, 190, 111);
  font-weight: 400;
  position: relative;
  top: -1rem;
  
}
.special_item > p {
  color: rgb(255, 243, 177);
  text-align: start;
  font-size: 28px;
  font-weight: 600;
  position: relative;
  top: -2rem;
  line-height: 1.2;
} 




