@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    box-sizing: border-box;
    font-family: Inter, sans-serif;
  }
  
  @media only screen and (min-width: 310px){
/* 
    .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 14px; 
      font-size: 13px;
      z-index: 2;
      border: 1px solid rgb(234, 234, 234);
      background: rgb(255, 255, 255);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    } */

  .mobile {
    display: block;
  }
  
  .end > span {
    margin-left: 1.5rem;

  }



      section > header{
      font-size: 21px;
      font-weight: 600;
      color: rgb(135, 135, 135);
      margin: 0 1rem 0 1rem ;
    }

    .hero_section > h1 {
      font-size: 1.7rem;
      font-weight: 600;
      width: 20rem;
      color: rgb(102, 102, 102);
      margin-left: 1rem;
    }

    .hero_slider {
      cursor: pointer;
      margin: 4rem 0 4rem 0;
      /* margin-left: 1rem; */
    }


    .hero_item > img {
      max-height: 3.3rem;
    }

    /* section > header{
      font-size: 28px;
      font-weight: 600;
      color: rgb(135, 135, 135);
      margin-left: 1rem;
    } */

    /* .special_item, .latest_item, .vision_item, .acce_head, .audio_head, .help_one, .help_two, .help_three, .help_four, .experience_item, .edu_item {
      border-radius: 20px;
      padding: 10px 30px;
      position: relative;
      margin: 2rem 0rem 2rem 1rem;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 500ms;
      cursor: pointer;
    } */

    .preFooter {
      overflow: hidden;
    }

    footer, .preFooter{
      margin: 1rem;
      font-size: 12px ;
      color: rgb(105, 105, 105);
    }

    pre{
      text-align: left;
      text-decoration: none;
      text-wrap: wrap;
      font-size: 12px;
      color: grey;
    }

    hr{
      margin: 0 5px 0 10px;
      border: 1px solid rgb(222, 222, 222);
    }

    div.dropdown > ul{
      display: none;
    }

    div.postFooter{
      font-size: 11px;
    }

    ul.row{
      list-style-type: none;
      padding-left: 0px;
      color: black;
    }

    ul.row > li > span {
      color: #7C81AD;
      padding: 2px;
    }

    .special_item, .latest_item, .acce_head, .audio_head, .edu_item{
      height: 26rem;
      width: 18rem;
    }

    .special_item, .latest_item, .vision_item, .acce_head, .audio_head, .help_one, .help_two, .help_three, .experience_item, .edu_item {
      border-radius: 20px;
      padding: 10px 30px;
      position: relative;
      margin: 2rem 0rem 2rem 1rem;
      box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 500ms;
      cursor: pointer;
    }

    .special_item > h1 {
      font-weight: 400;
    }

    :is(.latest_item, .special_item, .acce_head, .help_one, .help_two, .help_three, .experience_item, .edu_item) > h1{
      text-align: start;
      font-size: 18px;
      /* font-weight: 600; */
      position: relative;
      top: -6px;
    }
    
    :is(.special_item, .latest_item, .acce_head, .audio_head, .help_one, .help_two, .experience_item) > h5 {
      font-size: 12px;
      font-weight: 600;
    }

    .help_one, .help_two, .help_three, .help_four, .experience_item {
      height: 26rem;
      width: 18rem;
    }
    
    .help_four{
      margin: 2rem 2rem 2rem 1rem;
      
    }

    .special_item > h5 {
    color:#ca6404;
    }

    .acce_head > h5 {
    color:#ca6404;
    }

    .audio_head > h5 {
      color:#ca6404;
      }

    .vision_item {
      height: 12rem;
      width: 18rem;
    }
    
  .vision_item > h1 {
    position: relative;
    top: 3rem;
    width: 16rem;
    color: rgb(255, 243, 177);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
  }

  .vision_item > span {
    position: absolute;
    margin-top: 1rem;
    height: 1rem;
  }

  .desktop {
    display: none;
  }

  .acce_item, .audio_item {
    float: right;
    height: 26rem;
    border-radius: 20px;
    padding-top: 1rem;
    width: 18rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    background-position-y: 3rem;
    background-color: white;
    transition: all 500ms ;
  }

  :is(.acce_item, .audio_item) :is(h5, h3, p) {
    position: relative;
    top: 16rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  :is(.acce_item, .audio_item) > h3 {
    font-size: 15px;
    padding-bottom: 0.4rem;
  }

  :is(.dot, .dot_w, .dot_au, .dot_n) > span{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.7) ;
    display: inline-block;
    opacity: 1;
  }

  .dot{
    width: 6rem;
    top: 6rem;
  }

  .dot_w{
    width: 4rem;
    top: 6rem;
  }

  .a_four > h3 {
    padding-bottom: 1.6rem;
  }

  .exPad :is(h5, h3, p) {
    position: relative;
    top: 17rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .exPad > h3 {
    padding-bottom: 2rem;
  }

  
.dot_au{
  width: 3rem;
  top: 7rem;
}

.dot_hd{
  width: 6rem;
  top: 7rem;
}

.dot_n{
  width: 6rem;
  top: 7rem;
}
 
.u_seven > h3 {
  padding-bottom: 25px;
}



.rowOne{
  padding-top: 1rem;
  padding-left: 1rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-support-app-202308_GEO_IN?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1691156993472");
  background-size: 115%;
  background-position: center ;
  background-repeat: no-repeat;
  background-position-y: -1rem ;
  height: 72%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rowTwo{
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rowTwo > p {
  font-size: 17px;
}
 .rowOne > h1 {
    text-align: start;
    font-size: 18px;
    position: relative;
    top: -6px;
 }
 :is(.rowOne, .edu_item) > h5 {
  color: #526D82;
  font-weight: 400;
}

.col-10{
  width: 85%;
}
.col-2{
  padding: 1rem;
  width: 10%;
}


  }

  /* ------------------------------------- */
/* DESKTOP */
  /* ------------------------------------- */

  @media only screen and (min-width: 700px){
    .navbar {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      padding: 14px; 
      font-size: 13px;
      width: 68%;
      position: fixed;
      left: 16%;
      top: 0%;
      z-index: 2;
      border: 1px solid rgb(234, 234, 234);
      background: rgb(255, 255, 255);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

  .mobile {
    display: none;
  }

  .desktop{
    display: block;
  }

}


  section{
    overflow: hidden;
    /* padding: 1rem; */
  }

  .hero_header > p {
    text-align: center;
    color: #cc8b08;
  }

  /* .hero_section > h1 {
    font-size: 3rem;
    font-weight: 100;
    color: rgb(135, 135, 135);
    margin: 11rem 0rem 6rem 8rem;
    width: 40rem;
    left: 8.5%;
  } */
  
  .hero_section > h1 > span {
    color: black;
    font-weight: 600;
  }
  
  /* .hero_slider {
    margin-left: 6rem;
    cursor: pointer;
  }
   */
/* 
  .hero_item > img {
    max-height: 5rem;
  } */
  
  .hero_item {
    text-align: center;
    font-weight:600;
    font-size: 14px;
  }
  
  /* --------------------------------------------------------------------------------- */

  /* section > header{
    font-size: 28px;
    font-weight: 600;
    color: rgb(135, 135, 135);
    position: relative;
    left: 9rem;
  } */

/* 
  .special_item, .latest_item, .vision_item, .acce_head, .audio_head, .help_one, .help_two, .help_three, .help_four, .experience_item, .edu_item {
    border-radius: 20px;
    padding: 10px 30px;
    position: relative;
    margin: 2rem 0rem 2rem 9rem;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.2);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 500ms;
    cursor: pointer;
  } */

  /* .special_item, .latest_item, .acce_head, .audio_head, .edu_item{
    height: 31rem;
    width: 25rem;
  } */


.audio_head{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-music-202310?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1697210875904") ;
}

  /* .vision_item {
    height: 15rem;
    width: 20rem;
  } */

  /* .acce_item, .audio_item {
    float: right;
    height: 31rem;
    border-radius: 20px;
    padding-top: 1rem;
    width: 20rem;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    background-position-y:5rem;
    background-color: white;
    transition: all 500ms ;
  } */

  /* .help_one, .help_three, .help_four, .experience_item {
    height: 31rem;
    width: 30rem;
  } */

/* 
  .help_two {
    height: 31rem;
    width: 25rem;
  } */

  :is(.special_item, .latest_item, .vision_item, .acce_head, .acce_item, .audio_head, .audio_item, .help_one, .help_two, .help_three, .help_four, .help_five, .experience_item, .edu_item):hover {
    transform: scale(1.02);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  }

  :is(.acce_item, .audio_item):hover{
  background-position-y: 4rem ;
  }

  .acce_head, .audio_head{
    position: relative;
    z-index: 1;
    float: left;
  }

  :is(.acce_item, .audio_item) > p {
    font-size: 14px;
  }

  .latest_item:hover{
    background-size: 107%;
    background-position-y: -20px ;
  }

  /* :is(.special_item, .latest_item, .acce_head, .audio_head, .help_one, .help_two, .experience_item) > h5 {
    font-weight: 400;
    position: relative;
  } */

  /* :is(.special_item, .latest_item, .acce_head, .audio_head) > h5 {
    color: rgb(255, 190, 111);
  } */

  .help_one{
  color: #2E97A7;
  }

.help_two > h5 {
  color: #7C81AD;
}

.e_one{
  color: #F6F4EB;

}

.e_one > h5{
  color: #F6F4EB;
}

:is(.e_four, .e_three) > h5 {
  color: #526D82;
}

.e_three > p{
  position: relative;
  top: -1rem;
  padding-right: 6rem;
}

  :is(.latest_item) > p{
    font-size: 17px;
    position: relative;
    top: -1rem;
    font-weight: 100;
  }

  /* :is(.latest_item, .special_item, .acce_head, .help_one, .help_two, .help_three, .experience_item, .edu_item) > h1{
    text-align: start;
    font-size: 27px;
    font-weight: 600;
    position: relative;
    top: -6px;
  } */

  :is(.special_item, .help_one) > h1{
    color: rgb(255, 243, 177);
  } 

  :is(.acce_head, .audio_head) > h1{
    color: rgb(255, 243, 177);
  }

  .help_two{
  color: #F6F4EB;
  }
/* 
  .vision_item > h1 {
    position: relative;
    top: 3.4rem;
    width: 16rem;
    color: rgb(255, 243, 177);
    font-size: 22px;
    font-weight: 600;
    line-height: 1.3;
  } */

  /* .vision_item > span {
    position: absolute;
    margin-top: 1rem;
  } */

  :is(.acce_item, .audio_item) > h5 {
    color: #ca6404;
    font-weight: 200;
    font-size: 12px;
    margin-bottom: -10px;
  }
  
/* :is(.acce_item, .audio_item) > h3 {
  font-size: 17px;
  padding-bottom: 1rem;
} */


/* .a_four > h3 {
  padding-bottom: 37px;
} */

/* :is(.acce_item, .audio_item) :is(h5, h3, p) {
  position: relative;
  top: 20rem;
  padding-left: 2rem;
  padding-right: 2rem;
} */

.dot, .dot_w, .dot_au, .dot_hd, .dot_n{
  display: flex;
  justify-content: space-evenly;  
  margin: auto;
  position: relative;
}

/* .dot{
  width: 7rem;
  top: 9rem;
} */

/* :is(.dot, .dot_w, .dot_au, .dot_n) > span{
  height: 12px;
  width: 12px;
  border-radius: 50%;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.7) ;
  display: inline-block;
  opacity: 1;
} */

/* .dot_w{
  width: 4rem;
  top: 9rem;
} */


/* .exPad :is(h5, h3, p) {
  position: relative;
  top: 22rem;
  padding-left: 2rem;
  padding-right: 2rem;
} */

/* .exPad > h3 {
  padding-bottom: 2rem;
} */

/* 
.dot_au{
  width: 3rem;
  top: 11rem;
}

.dot_hd{
  width: 7rem;
  top: 11rem;
}

.dot_n{
  width: 7rem;
  top: 11rem;
} */

.dot_hd > img {
  height: 12px;
  width: 12px;
  box-shadow: inset 0px 1px 1px rgba(39, 15, 2, 0.2) ;
}

/* .help_four{
  padding-left: 0px;
  padding-top: 0px;
  margin-left: 4rem;
} */

/* .help_three{
  margin-left: 4rem;
} */

/* .rowOne{
  padding-top: 1rem;
  padding-left: 2rem;
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-support-app-202308_GEO_IN?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1691156993472");
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-position-y: -1rem ;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rowTwo{
  display: flex;
  align-items: center;
  padding: 1rem;
  padding-left: 2rem;
  background-color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
} */

/* .rowTwo > p {
  font-size: 17px;
}
 .rowOne > h1 {
    text-align: start;
    font-size: 26px;
 }
 :is(.rowOne, .edu_item) > h5 {
  color: #526D82;
  font-weight: 400;
}


.col-10{
  width: 85%;
}
.col-2{
  padding: 1rem;
  width: 10%;
} */

.button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: none;
  box-sizing: border-box;
  background-color: rgb(221, 221, 221);
}

.play{
cursor: pointer;
  width: 0px;
  height: 0px;
  margin: 25%;
  border-style: solid;
  background: none;
  border-width: 7px 0px 7px 14px;
  border-color: transparent transparent transparent rgb(92, 92, 92);
}



  /* -------------------------------------------------------------------- IMAGES*/
  
  .s_one{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-festive-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761585206");
  }
  .s_two{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-iphone-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587681");
  }
  .s_three{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-mac-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589457");
  }
  .s_four{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-ipad-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587575");
  }
  .s_five{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-watch-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589863");
  }
  .s_six{
    background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-todayatapple-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761589579");
  }

  
.l_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692719973220");
  color: black;
}

.l_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-iphone-15-pro-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692910040844");
  color: white;
}

.l_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watch-s9-202309_GEO_IN?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693501324197");
  color: white;
}
.l_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watch-ultra-202309_GEO_IN?wid=400&hei=500&fmt=jpeg&qlt=95&.v=1693861933617");
}
.l_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-watchbands-202309?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1692720583186");
}
.l_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-pencil-202310_GEO_IN?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1696886305326");
}



.v_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-iphone-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281487419");
  color: white;
}

.v_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-mac-customize-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281489269");
  color: white;
}

.v_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-engraving-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281487397");
  color: white;
}
.v_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-waystopay-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281489395");
}
.v_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-delivery-202310?wid=313&hei=240&fmt=p-jpg&qlt=95&.v=1696281487254");
}
.v_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-17-diwali-difference-tradein-202310?wid=313&hei=240&fmt=jpeg&qlt=95&.v=1696281489379");
}





.a_one{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-diwali-giftacc-202310?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1695761587624");
}

.a_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT4J3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1693594197616");

}

.a_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT253?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1692994342983");

}


.a_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/airtag-single-select-202104?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1617761671000");

}

.a_five {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/apple-tv-4k-hero-select-202210?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1664896361408");

}

.a_six {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MT3G3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1693593632903");

}

.a_seven {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MUH73ref?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1692936516435");

}





.u_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1694014871985");
}

.u_three{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/homepod-select-midnight-202210?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1670557210097");
}
.u_four{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/homepod-mini-select-orange-202110?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1632925511000");
}

.u_five{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/airpods-max-select-skyblue-202011?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1604022365000");
}

.u_six{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MV7N2?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1551489688005");
}

.u_seven{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/MTJV3?wid=200&hei=200&fmt=jpeg&qlt=95&.v=1694014871985");
}

/* .u_seven > h3 {
  padding-bottom: 37px;
} */


.help_one{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-diwali-specialist-help-202310?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1696608687398");
}

.help_two{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-40-business-202209_GEO_IN?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1661285670376");
}

.help_three{
background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-card-50-personal-session-202109?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1630612234000");
}



.e_one {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-tv-services-lessons-in-chemistry-202310?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1696949431686");

}

.e_two {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-subscriptions-202108?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1626375547000");
}

.e_three {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-applecare-202309?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1692730497948");
}

.e_four {
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/store-card-50-homekit-202309_GEO_IN?wid=480&hei=500&fmt=p-jpg&qlt=95&.v=1693758287672");
}


.edu_item{
  background-image: url("https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/ipad-card-40-education-202108_GEO_IN?wid=400&hei=500&fmt=p-jpg&qlt=95&.v=1627664718000");

}



/* ------------------------------------------------------------------ */

/* .preFooter{
  overflow: hidden;
  margin-left: 8rem;
} */

.preFooter > header {
  font-size: 13px;
}

.content{
  margin-bottom: 3rem;
}

.content > button{
  font-size: 14px;
  background-color: rgb(232, 232, 232);
  margin-right: 1rem;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

/* pre{
  text-align: left;
  text-decoration: none;
  margin: 0 16rem 0 8rem;
  text-wrap: wrap;
  font-size: 12px;
  color: grey;
} */

/* hr{
  width: 63rem;
  margin: auto;
  border: 1px solid rgb(222, 222, 222);
} */

/* ---------------FOOTER -----------------*/
/* footer{
  width: 74rem;
  margin: auto;
  font-size: 12px;
  color: rgb(105, 105, 105);
} */

.row{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.col-3 > dl{
  color: rgb(81, 80, 80);
  text-align: start;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;

}

dd:first-child{
  color: rgb(105, 105, 105);
  font-weight: 600;
}

dd{
  cursor: pointer;
  margin: 10px;
}

dd:hover{
  text-decoration: underline;
}

dd:first-child:hover{
  text-decoration: none;
  cursor:auto;
}


.endnote{
  display: flex;
  justify-content: start;
  
}

.endnote > ul{
  list-style-type: none;
}

.endnote > ul > li:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* li > span{
  color: #7C81AD;
  padding: 1rem;
} */

a{
  color: rgb(0, 119, 255);
}

p.end{
  text-align: end;
  float: right;
}
p.end:hover{
  text-decoration: underline;
  cursor: pointer;
}

.postFooter{
 /* width: 63rem; */
 margin: auto;
}


.dropdown{
  margin: 10px 0 10px 0;
  color: black;
}

.dropdown > span{
  float: right;
}

.dropdown > ul{
  list-style-type: none;
  padding-left: 1rem;
}

.dropdown ul li {
  padding-top: 10px;
  color: #526D82;
}

